langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
langchain-text-splitters
pymupdf
python-docx
docx2txt
pandas
openpyxl